@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');


body{
    background:linear-gradient(135deg, rgba(249, 234, 100, 0.598), rgba(255, 68, 255, 0.378));
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.title{
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   max-width: 100vw;
   border: 1px solid black;
   padding: 20px 0;
   overflow: hidden;
   position: relative;

}
.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: brown;
}
.heading i {
    margin-top: 30px;
    margin: 20px;
    font-size: xx-large;
}

.scrolling-wrapper{
    overflow: hidden;
    white-space: nowrap;
}
.scroll{
    display: flex;
    gap: 10px;
    animation: scroll 20s linear infinite;
}
.scroll span{
    font-size: large;
    white-space: nowrap;
    font-weight: bold;
    color: blue;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-90%);
    }
}
.section-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    
}

.flip-card{
    display: flex;
    background: transparent;
    width: 300px;
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
    border: 2px solid black;
    margin: 10px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card.flipped .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}
.flip-card-front{
    background-color:#fff;

}
.flip-card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flip-card-back{
    background-color: #cb86c2;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flip-card-back a{
    border: 2px solid black;
    padding: 20px;
    border-radius: 50px ;
    background-color: azure;
    color:#cb86c2;
    text-decoration: none;
}
.flip-card-back a:hover{
    background-color: #e1a3d9;
    color: black;
    cursor: pointer;
}
.container-section{
       width: 100%;
       height: 100%;
      
}
.deco{
    display: flex;
   justify-content: center;
   width: auto;
    
}
.deco img{
    width: 34%;
    
}
.celebration{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    gap: 10px;
     /* overflow: scroll; */
    
}
.photo{
    width: 300px;
    height: 400px;
    border: 2px solid black;
   
}
.inner-photo{
    /* width: 100%; */
    height: 100%;
   
}
.inner-photo img{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}